<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>TEAS治疗</title>
<link rel="stylesheet" href="css/index.css" type="text/css">
<script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
</head>
<body>
 <div class="teas-top">治疗记录</div>
  <div class="main Teas">
  	<table width="100%" border="1" cellspacing="0" cellpadding="0">
  	  <thead>
  	  	<tr>
  	  		<th>用户名</th>
  	  		<th>手机号</th>
  	  		<th>治疗时长</th>
  	  		<th>上传时间</th>
  	  		<th>治疗时间</th>
  	  		<th>治疗强度</th>
  	  		<th>治疗频率</th>
  	  		<th>治疗波形</th>
  	  		<th>治疗方式</th>
  	  		<th>治疗电极</th>
  	  		<th>载波强度</th>
  	  	</tr>
  	  </thead>
	  <tbody id="dataList">

	  </tbody>
	</table>
  </div>
   

</body>
<script type="text/javascript" th:inline="javascript">
	var name =  [[${name}]];
	var idCard =  [[${idCard}]];

	window.onload=function (){
		$.ajax({
			cache: true,
			type: "GET",
			async: false,
			url: '/xinshineng/users/GetData?name=' + name + '&idCard=' + idCard,
			error: function (request) {
				parent.layer.alert("网络超时");
			},
			success: function (data) {
				if (data==null || data ==''){
					alert("未使用Eye-TEAS治疗仪,暂无数据！");
					history.go(-1);
				}
				var html='';
				for (let i = 0; i < data.length; i++) {
					html+=`
						<tr>
						<td>`+data[i].name+`</td>
						<td>`+data[i].phone+`</td>
						<td>`+data[i].treat_time+`</td>
						<td>`+data[i].adddate+`</td>
						<td>`+data[i].update_time+`</td>
						<td>`+data[i].treat_strength+`</td>
						<td>`+data[i].treat_frequency+`</td>
						<td>`+data[i].treat_waveform+`</td>
						<td>`+data[i].treat_workmethod+`</td>
						<td>`+data[i].treat_electrode+`</td>
						<td>`+data[i].zb+`</td>
						</tr>`
				}
				$("#dataList").html(html);
			}
		})
	}
</script>
</html>



