<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>TEAS治疗</title>
<link rel="stylesheet" href="css/index.css" type="text/css">
<script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
</head>
<body>
 <div class="teas-top">治疗记录</div>
  <div class="main Teas">
  	<table width="100%" border="1" cellspacing="0" cellpadding="0">
  	  <thead>
  	  	<tr>
  	  		<th>用户名</th>
  	  		<th>手机号</th>
  	  		<th>治疗时长</th>
  	  		<th>上传时间</th>
  	  		<th>治疗时间</th>
  	  		<th>治疗强度</th>
  	  		<th>治疗频率</th>
  	  		<th>治疗波形</th>
  	  		<th>治疗方式</th>
  	  		<th>治疗电极</th>
  	  		<th>载波强度</th>
  	  	</tr>
  	  </thead>
	  <tbody>
		<tr>
		  <td>赵厚今</td>
		  <td>15098907927</td>
		  <td>30</td>
		  <td>2020-12-15 21:30:11</td>
		  <td>2020-12-15 20:00:11</td>
		  <td>16</td>
		  <td>15</td>
		  <td>连续波</td>
		  <td>同时</td>
		  <td></td>
		  <td>-</td>
		</tr>
		<tr>
		  <td>赵厚今</td>
		  <td>15098907927</td>
		  <td>30</td>
		  <td>2020-12-14 22:20:13</td>
		  <td>2020-12-14 22:50:13</td>
		  <td>16</td>
		  <td>15</td>
		  <td>连续波</td>
		  <td>同时</td>
		  <td></td>
		  <td>-</td>
		</tr>
		<tr>
		  <td>赵厚今</td>
		  <td>15098907927</td>
		  <td>30</td>
		  <td>2020-12-13 22:08:04</td>
		  <td>2020-12-13 22:38:04</td>
		  <td>16</td>
		  <td>15</td>
		  <td>连续波</td>
		  <td>同时</td>
		  <td></td>
		  <td>-</td>
		</tr>
		<tr>
		  <td>赵厚今</td>
		  <td>15098907927</td>
		  <td>30</td>
		  <td>2020-12-12 21:46:12</td>
		  <td>2020-12-12 22:14:12</td>
		  <td>16</td>
		  <td>15</td>
		  <td>连续波</td>
		  <td>同时</td>
		  <td></td>
		  <td>-</td>
		</tr>
		<tr>
		  <td>赵厚今</td>
		  <td>15098907927</td>
		  <td>30</td>
		  <td>2020-12-11 22:05:53</td>
		  <td>2020-12-11 22:35:53</td>
		  <td>15</td>
		  <td>15</td>
		  <td>连续波</td>
		  <td>同时</td>
		  <td></td>
		  <td>-</td>
		</tr>
		<tr>
		  <td>赵厚今</td>
		  <td>15098907927</td>
		  <td>30</td>
		  <td>2020-12-10 20:37:09</td>
		  <td>2020-12-10 21:07:09</td>
		  <td>13</td>
		  <td>15</td>
		  <td>连续波</td>
		  <td>同时</td>
		  <td></td>
		  <td>-</td>
		</tr>
	  </tbody>
	</table>

  </div>
   
   
</body>
</html>



