<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>家长</title>
<link rel="stylesheet" href="/css/index.css" type="text/css">
<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.SuperSlide.2.1.3.js"></script>
</head>
<body>
   <div class="topbanner"><img src="/img/banner.png" alt=""></div>
   <div class="main renwuBox">
   		<div class="hd">
   			<ul>
   				<li><img src="/img/gift1.jpg" alt=""/><p>倔强青铜</p></li>
   				<li><img src="/img/gift2.jpg" alt=""/><p>不屈白银</p></li>
   				<li><img src="/img/gift3.jpg" alt=""/><p>荣耀黄金</p></li>
   				<li><img src="/img/gift4.jpg" alt=""/><p>永恒钻石</p></li>
   			</ul>
   			<input type="button" class="zidingyi" value="自定义任务">
   		</div>
   		<div class="bd">
   			<div class="txt">
				<p>任务时间：<span>7天</span></p>
				<p>平均评级：<span>优秀等级</span></p>
   				<dl>
   					<dt>任务详情：</dt>
   					<dd>
						<ul>
							<li><em>时长</em><span>一周</span></li>
							<li><em>健康用眼评级：</em><span>优秀</span></li>
							<li><em>平均单次阅读时长：</em><span>优秀</span></li>
							<li><em>平均户外时长：</em><span>优秀</span></li>
							<li><em>平均阅读距离：</em><span>优秀</span></li>
							<li><em>平均阅读光照：</em><span>优秀</span></li>
							<li><em>平均单次看手机时长：</em><span>优秀</span></li>
							<li><em>平均单次看电脑电视时长：</em><span>优秀</span></li>
							<li><em>平均坐姿倾斜度：</em><span>优秀</span></li>
							<li><em>有效使用监护仪总时长：</em><span>优秀</span></li>
						</ul>
  					</dd>
   				</dl>
   				<input type="button" value="我要挑战">
   			</div>
   			<div class="txt">
   				<p>任务时间：<span>3天</span></p>
				<p>平均评级：<span>优秀等级</span></p>
   				<dl>
   					<dt>任务详情：</dt>
   					<dd>
						<ul>
							<li><em>时长</em><span>一周</span></li>
							<li><em>健康用眼评级：</em><span>优秀</span></li>
							<li><em>平均单次阅读时长：</em><span>优秀</span></li>
							<li><em>平均户外时长：</em><span>优秀</span></li>
							<li><em>平均阅读距离：</em><span>优秀</span></li>
							<li><em>平均阅读光照：</em><span>优秀</span></li>
							<li><em>平均单次看手机时长：</em><span>优秀</span></li>
							<li><em>平均单次看电脑电视时长：</em><span>优秀</span></li>
							<li><em>平均坐姿倾斜度：</em><span>优秀</span></li>
							<li><em>有效使用监护仪总时长：</em><span>优秀</span></li>
						</ul>
  					</dd>
   				</dl>
   				<input type="button" value="我要挑战">
   			</div>
   			<div class="txt">
   				<p>任务时间：<span>5天</span></p>
				<p>平均评级：<span>优秀等级</span></p>
   				<dl>
   					<dt>任务详情：</dt>
   					<dd>
						<ul>
							<li><em>时长</em><span>一周</span></li>
							<li><em>健康用眼评级：</em><span>优秀</span></li>
							<li><em>平均单次阅读时长：</em><span>优秀</span></li>
							<li><em>平均户外时长：</em><span>优秀</span></li>
							<li><em>平均阅读距离：</em><span>优秀</span></li>
							<li><em>平均阅读光照：</em><span>优秀</span></li>
							<li><em>平均单次看手机时长：</em><span>优秀</span></li>
							<li><em>平均单次看电脑电视时长：</em><span>优秀</span></li>
							<li><em>平均坐姿倾斜度：</em><span>优秀</span></li>
							<li><em>有效使用监护仪总时长：</em><span>优秀</span></li>
						</ul>
  					</dd>
   				</dl>
   				<input type="button" value="我要挑战">
   			</div>
   			<div class="txt">
   				<p>任务时间：<span>15天</span></p>
				<p>平均评级：<span>优秀等级</span></p>
   				<dl>
   					<dt>任务详情：</dt>
   					<dd>
						<ul>
							<li><em>时长</em><span>一周</span></li>
							<li><em>健康用眼评级：</em><span>优秀</span></li>
							<li><em>平均单次阅读时长：</em><span>优秀</span></li>
							<li><em>平均户外时长：</em><span>优秀</span></li>
							<li><em>平均阅读距离：</em><span>优秀</span></li>
							<li><em>平均阅读光照：</em><span>优秀</span></li>
							<li><em>平均单次看手机时长：</em><span>优秀</span></li>
							<li><em>平均单次看电脑电视时长：</em><span>优秀</span></li>
							<li><em>平均坐姿倾斜度：</em><span>优秀</span></li>
							<li><em>有效使用监护仪总时长：</em><span>优秀</span></li>
						</ul>
  					</dd>
   				</dl>
   				<input type="button" value="我要挑战">
   			</div>
   		</div>
   </div>
</body>
</html>
<script type="text/javascript">
	jQuery(".renwuBox").slide({trigger:"click"});
</script>


