<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>孩子</title>
<link rel="stylesheet" href="/css/index.css" type="text/css">
<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.SuperSlide.2.1.3.js"></script>
</head>
<body>
   <div class="topbanner"><img src="/img/banner.png" alt=""></div>
   <div class="main children">
  		<img class="ring" src="/img/two.png" alt=""/>
   		<div class="boyTop">
			<div class="txt-left">
				<img src="/img/gift1.jpg" alt=""/><p>倔强青铜</p>
			</div>
			<div class="txt-right">
				<h3>任务进度还差 <span><i>3</i>天，继续加油！</span></h3>
				<ul>
					<li><i>4</i> 天<span>已完成天数</span></li>
					<li><i>优秀</i><span>平均等级</span></li>
					<li><i>4.6</i> h<span>平均有效使用时长</span></li>
				</ul>
			</div>
   		</div>
   		
   		<div class="boyBotton">
   			<h3>任务记录</h3>
   			<table border="1" cellspacing="0" cellpadding="0" width="100%">
   			  <thead>
   			  	<tr>
   			  		<th>日期</th>
   			  		<th>有效使用时长(h)</th>
   			  		<th>评级</th>
   			  		<th>完成度</th>
   			  	</tr>
   			  </thead>
			  <tbody>
				<tr>
				  <td>12月13日</td>
				  <td>4.2h</td>
				  <td class="excellent">优秀</td>
				  <td><img src="/img/JD-excellent.png" alt=""></td>
				</tr>
				<tr>
				  <td>12月14日</td>
				  <td>4.2h</td>
				  <td class="excellent">优秀</td>
				  <td><img src="/img/JD-excellent.png" alt=""></td>
				</tr>
				<tr>
				  <td>12月15日</td>
				  <td>4.2h</td>
				  <td class="excellent">优秀</td>
				  <td><img src="/img/JD-excellent.png" alt=""></td>
				</tr>
				<tr>
				  <td>12月16日</td>
				  <td>4.2h</td>
				  <td>良好</td>
				  <td><img src="/img/JD-good.png" alt=""></td>
				</tr>
			  </tbody>
			</table>
   		</div>
   		
   		<div class="boyTxt">
   			<dl>
				<dt>任务详情</dt>
				<dd>想领取就要完成指定的任务</dd>
				<dd>持续一周内每天使用情况评级都达到良好等级及以上</dd>
				<dd>持续一周内每天使用情况评级都达到良好等级及以上</dd>
				<dd>持续一周内每天使用情况评级都达到良好等级及以上</dd>
			</dl>
   		</div>
   </div>
</body>
</html>



