<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>提交成功</title>
<link rel="stylesheet" href="/css/index.css" type="text/css">
<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
</head>
<body>
	<!--提交失败success后直接加上“fail”-->
	<div class="success">
    	<p>恭喜您，提交成功！</p>
        <a href="/skip/geren">返回 》 </a>
    </div>
    
</body>
</html>



