<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>疫情期间用眼行为和体育锻炼调查问卷</title>
<link rel="stylesheet" href="/css/index.css" type="text/css">
</head>
<body class="wenjuanBG">
<h3>疫情期间用眼行为和体育锻炼调查问卷</h3>
<div class="main">
    <!--<div class="TXmsg"><span>请填写基础信息</span></div>-->
    <div class="msgBG">
        <div class="baseMsg">
            <div class="boxtxt">
                <div class="box"><span>姓名：</span><input type="text" /></div>
                <div class="box"><span>手机：</span><input type="text" /></div>
                <div class="box"><span>身份证号：</span><input type="text" /></div>
                <div class="box"><span>关系：</span><input type="text" /></div>
            </div>

            <div class="zhiadmin">
                <dl>
                    <dt>致填写人：</dt>
                    <dd>本问卷是为了调查与您的体质有关的一些情况，从而为今后的健康管理和临床诊疗等提供参考。请逐项阅读每一个问题，根据自己近一年来的实际情况或感觉，选择最符合您的选项圈。如果某一个问题您不能肯定如何回答，就选择最接近您实际情况的那个答案。</dd>
                    <dd>请注意所有问颢都是根据您近一年的情况作答，而且每个问题只能选一个答案。</dd>
                    <dd>为了保护学生眼健康，请确实填写本问卷调查，如有需要我们将与您联系进行随访调查，感谢您的配合！</dd>
                </dl>
                <span>山东中医药大学附属眼科医院<br/>山东省青少年视力低下防治中心</span>
            </div>
        </div>
    </div>

    <div class="WJbox">
        <div class="radiobox borderBG">
            <p><span>1</span>疫情前6个月您平均每天进行网课、直播教学学习的时间（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">几乎没有</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">0.5小时以内</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">0.5-1小时</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">1-1.5小时</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">1.5-2小时</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">2小时以上</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>2</span>疫情期间您平均每天进行网课、直播教学学习的时间（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">1小时及以内</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">1-2小时</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">2-3小时</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">3-4小时</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">4小时以上</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">几乎没有</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>3</span>疫情期间除学校规定课程之外，平均每天参加课外辅导学习使用电子产品的时间（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">1小时及以内</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">1-2小时</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">2-3小时</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">3-4小时</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">4小时以上</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">几乎没有</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>4</span>疫情期间平均每天使用电子产品休闲娱乐的时间为（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">几乎没有</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">0.5小时以内</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">0.5-1小时</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">1-1.5小时</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">1.5-2小时</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">2小时以上</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>5</span>休息的时候会采取哪种方式？（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">远眺</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">做眼保健操</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">玩手机、电脑或看电视</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">闭眼休息</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">使用护眼相关产品（如眼药水、眼贴、治疗仪等</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">其他</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>6</span>疫情期间每周参加体育活动的频率（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">1次</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">2次</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">3次</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">4次</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">5次及以上</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">几乎不</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>7</span>疫情期间平均每天参加体育活动的时间（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">0.5小时</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">0.5-1小时</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">1-2小时</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">2-3小时</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">3小时以上</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>8</span>疫情期间参加体育活动后的感觉怎样？（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">不累</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">有点累</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">比较累</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">非常累</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>9</span>疫情期间经常参加哪些体育活动？（可多选）（多选）</p>
            <div><input type="checkbox" name="item" id="C1"><label for="C1">武术、舞蹈、跆拳道类</label></div>
            <div><input type="checkbox" name="item" id="C2"><label for="C2">大球类（足球、篮球、排球）</label></div>
            <div><input type="checkbox" name="item" id="C3"><label for="C3">小球类（乒乓球、羽毛球）</label></div>
            <div><input type="checkbox" name="item" id="C4"><label for="C4">跑、跳、散步</label></div>
            <div><input type="checkbox" name="item" id="C5"><label for="C5">跳绳</label></div>
            <div><input type="checkbox" name="item" id="C6"><label for="C6">其他</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>10</span>您对疫情期间参加体育活动有什么看法？（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">很重要</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">重要</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">一般</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">不重要</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">无所谓</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>11</span>疫情期间您在家里的吃饭时间有规律吗？（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">很有规律</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">大部分时间有规律</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">不太有规律</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">很没有规律</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>12</span>平时更喜欢吃哪些食物（可多选）？（多选）</p>
            <div><input type="checkbox" name="item" id="C1"><label for="C1">肉类</label></div>
            <div><input type="checkbox" name="item" id="C2"><label for="C2">蔬菜类</label></div>
            <div><input type="checkbox" name="item" id="C3"><label for="C3">煎炸类</label></div>
            <div><input type="checkbox" name="item" id="C4"><label for="C4">烘烤类</label></div>
            <div><input type="checkbox" name="item" id="C5"><label for="C5">蒸煮类</label></div>
            <div><input type="checkbox" name="item" id="C5"><label for="C5">炒菜类</label></div>
            <div><input type="checkbox" name="item" id="C6"><label for="C6">其他</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>13</span>疫情期间经常选择哪些食物作为零食？（可多选）（多选）</p>
            <div><input type="checkbox" name="item" id="C1"><label for="C1">巧克力、糖果</label></div>
            <div><input type="checkbox" name="item" id="C2"><label for="C2">冰淇淋</label></div>
            <div><input type="checkbox" name="item" id="C3"><label for="C3">干果</label></div>
            <div><input type="checkbox" name="item" id="C4"><label for="C4">饼干</label></div>
            <div><input type="checkbox" name="item" id="C5"><label for="C5">水果</label></div>
            <div><input type="checkbox" name="item" id="C6"><label for="C6">其他</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>14</span>疫情期间经常喝哪些饮料？（可多选）（多选）</p>
            <div><input type="checkbox" name="item" id="C1"><label for="C1">雪碧、可乐</label></div>
            <div><input type="checkbox" name="item" id="C2"><label for="C2">纯净水和矿泉水</label></div>
            <div><input type="checkbox" name="item" id="C3"><label for="C3">咖啡或茶水</label></div>
            <div><input type="checkbox" name="item" id="C4"><label for="C4">蔬菜、水果汁</label></div>
            <div><input type="checkbox" name="item" id="C6"><label for="C6">其他</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>15</span>疫情期间一般晚上几点入睡？（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">晚上9点以前</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">晚上9点～10点</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">晚上10点～11点</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">晚上11点之后</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>16</span>疫情期间平均每天的睡眠时间（包括午休） （单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">＜6小时</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">≥6小时，＜8小时</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">≥8小时，＜9小时</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">≥9小时，<10小时</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">≥10小时</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>17</span>疫情期间您和家长的矛盾主要集中在哪些方面？（可多选）（多选）</p>
            <div><input type="checkbox" name="item" id="C1"><label for="C1">使用电子产品的时长</label></div>
            <div><input type="checkbox" name="item" id="C2"><label for="C2">学习时间的长短</label></div>
            <div><input type="checkbox" name="item" id="C3"><label for="C3">体育锻炼时间的长短</label></div>
            <div><input type="checkbox" name="item" id="C4"><label for="C4">家务活的分配</label></div>
            <div><input type="checkbox" name="item" id="C6"><label for="C6">其他矛盾</label></div>
            <div><input type="checkbox" name="item" id="C6"><label for="C6">没有矛盾</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>18</span>您认为如何才能保护视力或预防近视？（多选）</p>
            <div><input type="checkbox" name="item" id="C1"><label for="C1">做眼保健操</label></div>
            <div><input type="checkbox" name="item" id="C2"><label for="C2">定期视力检查</label></div>
            <div><input type="checkbox" name="item" id="C3"><label for="C3">注意不要过度用眼</label></div>
            <div><input type="checkbox" name="item" id="C4"><label for="C4">合理饮食，充足睡眠</label></div>
            <div><input type="checkbox" name="item" id="C6"><label for="C6">其他</label></div>
        </div>



        <div id="suc" class="btnTJ">
            <input type="button" onclick="javascript:window.location.href='/skip/success'"  value="提交"></div>
    </div>
    <script type="text/javascript" th:inline="javascript">
        var name = [[${name}]];
        var idCard = [[${idCard}]];
        var href1='/skip/success?name='+name+'&idCard='+idCard;
        $("#suc").html(`<input type="button" onclick="javascript:window.location.href=href1"  value="提交">`)
    </script>
    </div>
</body>
</html>



