<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>儿童青少年体质量表</title>
<link rel="stylesheet" href="/css/index.css" type="text/css">
</head>
<body class="wenjuanBG">
<h3>儿童青少年体质量表</h3>
<div class="main">
    <!--<div class="TXmsg"><span>请填写基础信息</span></div>-->
    <div class="msgBG">
        <div class="baseMsg">
            <div class="boxtxt">
                <div class="box"><span>姓名：</span><input type="text" /></div>
                <div class="box"><span>手机：</span><input type="text" /></div>
                <div class="box"><span>身份证号：</span><input type="text" /></div>
                <div class="box"><span>关系：</span><input type="text" /></div>
            </div>

            <div class="zhiadmin">
                <dl>
                    <dt>致填写人：</dt>
                    <dd>本问卷是为了调查与您的体质有关的一些情况，从而为今后的健康管理和临床诊疗等提供参考。请逐项阅读每一个问题，根据自己近一年来的实际情况或感觉，选择最符合您的选项圈。如果某一个问题您不能肯定如何回答，就选择最接近您实际情况的那个答案。</dd>
                    <dd>请注意所有问颢都是根据您近一年的情况作答，而且每个问题只能选一个答案。</dd>
                    <dd>为了保护学生眼健康，请确实填写本问卷调查，如有需要我们将与您联系进行随访调查，感谢您的配合！</dd>
                </dl>
                <span>山东中医药大学附属眼科医院<br/>山东省青少年视力低下防治中心</span>
            </div>
        </div>
    </div>

    <div class="WJbox">
        <div class="radiobox borderBG">
            <p><span>1</span>我容易累，精神头不足（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>2</span>我的面色偏黄、没有其他同学红润（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>3</span>我肌肉偏软，没有其他同学结实（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>4</span>我比班上的同学容易感冒（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>5</span>我喜欢安静，受不了很吵闹的环境（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>6</span>我说话声音小，不够洪亮（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>7</span>我上体育课或是课外活动时，我都比别人容易出汗（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>8</span>我的手脚发凉（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>9</span>我的肚子、后背和膝盖怕冷（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>10</span>我容易怕冷，衣服穿得比较多（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>11</span>我比别人怕冷(夏天怕吹空调，冬天怕外出)（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>12</span>我吃(喝)凉的东西会感到不舒服或者怕吃(喝)凉东西（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>13</span>我受凉或吃(喝)凉的东西后，容易拉肚子（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>14</span>我感到手脚心发热（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>15</span>我感到身体、脸上发热（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>16</span>我的皮肤或嘴唇干（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>17</span>我比别的同学更容易兴奋（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>18</span>我感到口干、总想喝水（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>19</span>我感到胸闷或肚子胀（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>20</span>我比大部分同学胖（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>21</span>我比大部分同学的肚子大（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>22</span>我白天容易犯困（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>23</span>我嘴里有黏黏的感觉（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>24</span>我平时痰多（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>25</span>我睡觉时会打呼噜（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>26</span>我眼睛红红的、容易生眼屎 （单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>27</span>我身上或脸上容易长包（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>28</span>我感到口苦或总有口臭（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>29</span>我经常在睡梦中惊醒、或经常做恶梦（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>30</span>我小便时有热热的感觉、小便有气味（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>31</span>我身上有青紫瘀斑（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>32</span>我身上有疼痛的地方(如肚子疼、头疼、腿疼等)（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>33</span>我的脖子、胳肢窝和大腿根的皮肤偏暗（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>34</span>我容易有黑眼圈（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>35</span>我会忘事，如忘带作业、钥匙或忘记完成作业等（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>36</span>我的嘴唇颜色偏暗（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>37</span>我感到不高兴（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>38</span>遇到事情或每次考试前我都会很紧张（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>39</span>遇到挫折(cuò zhé)或考试没考好的话，我会很不高兴， 甚至难过（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>40</span>我容易感到害怕、很胆小（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>41</span>我很在意老师、同学、家长对我的看法（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>42</span>遇到困难我总是想哭（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>43</span>我总是担心很多事（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>44</span>我没有感冒时也会打喷嚏(pēn tì)（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>45</span>我没有感冒时也会鼻子不通气、流鼻涕（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>46</span>我在季节变化、温度变化或闻到异味时会咳嗽气喘（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>47</span>我容易过敏(对药物、食物、气味、花粉或在季节交替、 气候变化时)（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>48</span>我身上容易痒，起荨麻疹（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>49</span>皮肤一抓就红，并出现抓痕（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>50</span>我每天都很有精神（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>51</span>我会睡不着，或者睡着后总会醒（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">没有（根本不）</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">很少（有点）</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">有时（有些）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">经常（相当）</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">总是（非常）</label></div>
        </div>



        <!--<div class="radiobox borderBG">
            <p><span>2</span>这个是多选题</p>
            <div><input type="checkbox" name="item" id="C1"><label for="C1">选项1</label></div>
            <div><input type="checkbox" name="item" id="C2"><label for="C2">选项2</label></div>
            <div><input type="checkbox" name="item" id="C3"><label for="C3">选项3</label></div>
            <div><input type="checkbox" name="item" id="C4"><label for="C4">选项4</label></div>
            <div><input type="checkbox" name="item" id="C5"><label for="C5">选项5</label></div>
            <div><input type="checkbox" name="item" id="C6"><label for="C6">选项6</label></div>
            <div><input type="checkbox" name="item" id="C7"><label for="C7">选项7</label></div>
            <div><input type="checkbox" name="item" id="C8"><label for="C8">选项8</label></div>
        </div>

        <div class="radiobox borderBG">
            <p><span>3</span>请输入你想说的话</p>
            <textarea name="content"  placeholder="输入文字"></textarea>
        </div>-->

        <div id="suc" class="btnTJ">
            <input type="button" onclick="javascript:window.location.href='/skip/success'"  value="提交">
        </div>
    </div>
    <script type="text/javascript" th:inline="javascript">
        var name = [[${name}]];
        var idCard = [[${idCard}]];
        var href1='/skip/success?name='+name+'&idCard='+idCard;
        $("#suc").html(`<input type="button" onclick="javascript:window.location.href=href1"  value="提交">`)
    </script>
    </div>
</body>
</html>



