<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>儿童青少年体质量表</title>
<link rel="stylesheet" href="/css/index.css" type="text/css">
</head>
<body class="wenjuanBG">
<h3>儿童青少年体质量表</h3>
<div class="main">
    <!--<div class="TXmsg"><span>请填写基础信息</span></div>-->
    <div class="msgBG">
        <div class="baseMsg">
            <div class="boxtxt">
                <div class="box"><span>姓名：</span><input type="text" value="name" /></div>
                <div class="box"><span>手机：</span><input type="text" value="phone"/></div>
                <div class="box"><span>身份证号：</span><input type="text" value="IdCard"/></div>
                <div class="box"><span>关系：</span><input type="text" value="name"/></div>
            </div>

            <div class="zhiadmin">
                <dl>
                    <dt>致填写人：</dt>
                    <dd>本问卷是为了调查与您的体质有关的一些情况，从而为今后的健康管理和临床诊疗等提供参考。请逐项阅读每一个问题，根据自己近一年来的实际情况或感觉，选择最符合您的选项圈。如果某一个问题您不能肯定如何回答，就选择最接近您实际情况的那个答案。</dd>
                    <dd>请注意所有问颢都是根据您近一年的情况作答，而且每个问题只能选一个答案。</dd>
                    <dd>为了保护学生眼健康，请确实填写本问卷调查，如有需要我们将与您联系进行随访调查，感谢您的配合！</dd>
                </dl>
                <span>山东中医药大学附属眼科医院<br/>山东省青少年视力低下防治中心</span>
            </div>
        </div>
    </div>

    <div class="WJbox">
        <div class="radiobox borderBG">
            <p><span>1</span>选择一个最合适的等级（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">我有特异功能，能感觉到别人感觉不到的东西</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">我有点感觉过敏，平常声光都觉得难以忍受</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">我能清晰地感知客观事物</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我有时出现一些感觉不适或知觉错误</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我经常看错东西或听错话或体验到异常的感觉</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我感到一切都不真实，有时感到自己变了样</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>2</span>选择一个最合适的等级（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">我常被一些无意义事情吸引以至无法学习工作</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">我太过注意问题的细节，影响学习工作效率</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">我能专心致志去做每件事情</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我能专心去做必须做的事情</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我能集中注意力做好我喜欢做的事情</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">在学习和工作中，我注意力不能集中</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我做任何事情都坚持不了几分钟</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>3</span>选择一个最合适的等级（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">过去不愉快的经历不由自主地闯入我的脑海，无法自拔</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">我经常想一些不愉快的事情</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">我的记忆力很好，记东西又快又牢</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我的记忆力较好，想记的事情基本能记住</label></div>
            <div><input type="radio" name=" " value=" " id="R5"><label for="R4">我的记忆力一般，偶尔忘记一些小事</label></div>
            <div><input type="radio" name=" " value=" " id="R6"><label for="R4">我觉得记东西比较费劲，经常忘记一些重要的事情</label></div>
            <div><input type="radio" name=" " value=" " id="R7"><label for="R4">我的记忆力特差，总是不停地找东西</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>4</span>选择一个最合适的等级（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">我的大脑里不由自主地涌现出大量的意念，根本停不下来</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">我的思维特别快，观念一个接一个地出现</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">我思考问题比较敏捷、流畅</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">别人认为我考虑问题比较周全，思维有条理</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我觉得自己考虑问题不周到或思维比较慢</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我觉得自己的思维逻辑性很差，别人不理解我的想法</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我觉得我的思维很乱，有时停滞不前，有时完全不能思考</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>5</span>选择一个最合适的等级（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">我特别注意一些小证据，喜欢诡辩</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">我非常重视证据，只要觉得别人谈话的依据不充分，我就要与他辩论</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">别人认为我讲话很在理，分析问题有根有据</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">别人认为我考虑问题很实在，切合实际</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我有时好幻想或怀疑</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">别人觉得我的思维很怪，难以理解</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">在我身上发生的一些特别的事情或我确信无疑的事情，别人就是不相信</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>6</span>选择一个最合适的等级（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">我觉得自己思维能控制或预测别人言行</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">我觉得自己能知道别人的想法</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">我能自由地思考问题</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我能很好地控制自己的思维</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我的脑子有时不听使唤，想些没有意义的事</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我老想些没有意义的问题，自己无法摆脱</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我觉得思维好像不是自己的，我想什么事情别人都知道</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>7</span>选择一个最合适的等级（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">别人认为我讲话过于拘泥细节，很累赘</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">别人觉得我讲话过于详尽，我发觉他们有些不耐烦</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">我能准确地表达自己的想法</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我能清楚地表达自己的想法</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我能让别人懂得我的意思</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我发现别人经常听不懂我的话</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">别人发觉我经常自言自语，他们感到很奇怪</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>8</span>选择一个最合适的等级（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">广播、电视有些话是故意针对我的，别人经常议论我</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">我对别人的话很敏感，总觉得别人在评论自己</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">我能准确地理解别人的话</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我能较好地理解别人的话语</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我偶尔误解别人的意思</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我很难理解别人的话</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我觉得所有人的话都那么陌生，无法理解</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>9</span>选择一个最合适的等级（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">我有特别的灵感，能预知宇宙万物</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">我觉得自己特别聪明，别人的言行都那么愚蠢可笑</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">我的理解力强，能活学活用，适应能力强</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我学新知识较快，灵活运用能力差，能较好地适应环境</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">别人觉得我忠厚诚实，我学新东西较慢，但能适应环境</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我接受新东西很慢，适应环境有点困难</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我的学习理解能力很差，适应环境困难</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>10</span>选择一个最合适的等级（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">我各方面都比别人强，我什么事都会做</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">别人觉得我过高地估计自己的能力、长相或学识</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">我对自己有充分的自信，充满活力</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我能合理地估计自己的优点和不足</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我对自己的优点估计不足，担心自己的不足</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我对自己没有信心，很在意别人的评价</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我觉得自己一无是处，什么都不如别人</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>11</span>选择一个最合适的等级（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">我觉得每个人都很友好，从来不怀疑任何人</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked">我过于相信别人，经常受骗上当</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">我相信大多数人，从不担心自己会上当受骗</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我觉得多数人是可信赖的，对现实感到安全满意</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我不轻易相信别人，但能与现实保持良好的接触</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我觉得别人都靠不住，生活没有安全感</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我不相信任何人，整天提心吊胆地生活</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>12</span>选择一个最合适的等级（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">我总觉得自己做得不够好，责备自己</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">我生怕自己没做好，别人不满意.</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">我的责任感很强，总想把事情做得更好</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我是一个有责任心的人，做事认真负责</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">别人认为我的责任感差，有点以自我为中心</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">父母觉得我没有责任感，喜欢埋怨别人</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">每个人都说我生活倾散，整天怨天尤人</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>13</span>选择一个最合适的等级（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">别人觉得我做事很冲动，不考虑后果</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">父母觉得我很浮躁、贪玩、乱交友.</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">别人认有我活泼、开朗、好交际</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">别人觉得我比较稳重、朴实、合群</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我的性格比较内向、深沉、重感情</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">别人认为我孤僻、寡言、不合群</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">别人觉得我性格怪异、独来独往、无法接近</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>14</span>选择一个最合适的等级（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">别人认为我脾气暴躁，残忍</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">父母觉得我脾气急躁，缺少同情心.</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">我做事粗心，不太注意别人的感受</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">别人认为我很随和，善解人意</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">父母觉得我很温顺，多愁善感</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我的性格比较懦弱，胆小怕事</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我在别人面前总是低声下气，没有尊严</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>15</span>选择一个最合适的等级（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">我做任何事情都是从“应该”出发，从不考虑自己的需要</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">我过分在意别人的看法，过度压抑自己.</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">我比较在意别人的看法，较少考虑个人的需要</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">在不违反社会规范的前提下，我能合理地满足自己的需要</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">别人觉得我利欲心较强，不太在意别人的看法</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我做事情总是考虑自己的得失，常常损害别人的利益</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">别人认为我做事不顾现实，一味追求个人满足</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>16</span>选择一个最合适的等级（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">我整天莫名其妙地焦虑或对某些情境极度恐惧，严重影响我的生活</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">我经常感到紧张焦虑或害怕某些情境，影响我个人潜能的发挥.</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">我不时有点紧张焦虑，但能自己化解</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我的生活过得很忙碌，但多数时间比较开心.</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我生活得比较轻松自在，从不感到紧张</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我对未来没有任何打算，过一天算一天</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">父母认为我好吃懒做，整日游手好闲</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>17</span>选择一个最合适的等级（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">我感到特别愉快，没有任何烦恼</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">我感到很幸福，对困难毫不在乎.</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">我生活得比较愉快和幸福</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">生活中虽有不如意之事，但多数时间我比较开心.</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我有时感到忧愁和悲伤，但能自己化解</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我总是感到不满、悔恨、埋怨、苦闷、不愉快</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我不能从生活中体验到任何乐趣，觉得人生毫无意义</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>18</span>选择一个最合适的等级（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">我的情绪极不稳定，易怒、易悲、易流泪、易感动</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">我的情绪不稳定，经常喜怒无常..</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">我的情绪反应强烈，爱憎分明，好感情用事</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我的情绪稳定，反应适度，善于控制.</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我的情绪反应慢，强度弱，表情冷淡</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我体验不到愉快和悲伤，与亲人没有感情沟通</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">别人认为我的情感幼稚、淡漠或完全没有情感反应</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>19</span>选择一个最合适的等级（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">我觉得自己太拘泥于社会规范，以致不敢做任何事</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">我做事犹豫不决、强迫，过分担心别人的看法..</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">我的精力很充沛，敢作敢为，但自觉地遵守社会规范</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我在生活、学习和工作方面较主动，有上进心，服从社会规范.</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我学习和工作是为了生活，尽可能使自己的行为符合社会规范</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">别人认为我是个叛逆者，做事冲动，不愿承担社会责任</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我对社会规范十分反感，老是做些违纪和违法事情</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>20</span>选择一个最合适的等级（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">我好冲动冒险，喜好从事一些危险的活动</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">我整天都安静不下来，小动作不断，或有一些怪异、刻板动作..</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">我贪玩、好动、话多，整天闲不住</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我做事有计划，活动有规律，自控能力强.</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我不爱活动，喜欢安安静静的学习和工作</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我的活动明显减少，行动缓慢或呆坐不动</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我想天天卧床不起，整天不想讲一句话</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>21</span>选择一个最合适的等级（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">我什么事情都想做，结果什么事情也做不成，且影响正常生活</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">我的兴趣短暂多变，影响学习和工作..</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">我的兴趣广泛，生活丰富多彩</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我热爱生活、学习和工作，有一些业余爱好.</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">除正常的生活、学习和工作外，我没有什么业余爱好</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我的兴趣明显减退，对生活、学习和工作有厌倦感</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我对生活毫无兴趣，讨厌人生</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>22</span>选择一个最合适的等级（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">我经常乱交朋友，影响正常的生活</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">我交友过多，影响学习和工作..</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">我擅长与人交往，从交往中体验到快乐</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我主动与人交往，愿意帮助别人.</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我有目的地与人交往，能帮助别人</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我怕与人交往，在人多的场合感到紧张</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我拒绝与人交往，与人接触感到恐惧</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>23</span>选择一个最合适的等级（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">我的期望水平过高，压力很大，精神快要崩溃了</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">我对自己的要求很高，不能从学习和工作中体验到乐趣..</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">我对学习和工作兴趣浓厚，成绩优秀或业绩显著</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我工作主动、学习自觉，对成绩感到满意.</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我学习刻苦、工作努力，成绩一般</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我对学习和工作没兴趣，能完成任务，成绩较差</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我厌恶学习和工作，不能完成任务，成绩很差</label></div>
        </div>
        <div class="radiobox borderBG">
            <p><span>24</span>选择一个最合适的等级（单选）</p>
            <div><input type="radio" name=" " value=" " id="R1"><label for="R1">我确信自己得了不治之症，整天忙于看病吃药</label></div>
            <div><input type="radio" name=" " value=" " id="R2" checked="checked"><label for="R2">我怀疑自己得了严重的疾病，反复检查仍不放心..</label></div>
            <div><input type="radio" name=" " value=" " id="R3"><label for="R3">我对躯体不适比较敏感，夸大病情，过度治疗</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我比较关心自身健康，有病及时治疗.</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我不太关心自身的健康，有病不及时治疗</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我不关心自身健康，过量吸烟、酗酒或吸毒</label></div>
            <div><input type="radio" name=" " value=" " id="R4"><label for="R4">我有意摧残自己的健康，有自残或自杀行为</label></div>
        </div>

        <!--<div class="radiobox borderBG">
            <p><span>2</span>这个是多选题</p>
            <div><input type="checkbox" name="item" id="C1"><label for="C1">选项1</label></div>
            <div><input type="checkbox" name="item" id="C2"><label for="C2">选项2</label></div>
            <div><input type="checkbox" name="item" id="C3"><label for="C3">选项3</label></div>
            <div><input type="checkbox" name="item" id="C4"><label for="C4">选项4</label></div>
            <div><input type="checkbox" name="item" id="C5"><label for="C5">选项5</label></div>
            <div><input type="checkbox" name="item" id="C6"><label for="C6">选项6</label></div>
            <div><input type="checkbox" name="item" id="C7"><label for="C7">选项7</label></div>
            <div><input type="checkbox" name="item" id="C8"><label for="C8">选项8</label></div>
        </div>-->

        <!--<div class="radiobox borderBG">
            <p><span>25</span>请输入你想说的话</p>
            <textarea name="content"  placeholder="输入文字"></textarea>
        </div>-->


        <div class="btnTJ"><input type="button" onclick="javascript:window.location.href='/skip/success'"  value="提交"></div>
        </div>
    </div>
</body>
</html>



